@charset "UTF-8";
html {
  font-size: 100%;
}
body {
  color: #24292e;
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto 130px auto;
  font-size: 0.9rem;
  padding: 0 4%;
  text-align: center;
}

h2{
  font-size: 45px;
}

.background{
  background-color: #F072F0;
  background-size: cover;
  background-attachment: fixed;
}

/* header */
header{
  width:100%;
  display: flex;
  align-items: center;
  height: 170px;
  background:black;
  position: fixed;
}
h1{
width:205px;
}
.site-title a{
  width:100%;
}
.header-logo{
  padding-left:10%;
  width: 50%;
}

.header-list ul{
  display:flex;
}

.header-list li{
  margin-left: 30px;
}

header a{
  color:white;
}
/* About */
#about{
 padding-top:200px;
}

.about-content{
  padding-top:50px;
  display: flex;
  text-align:center;
}

.about-left{
  padding-left:20%;
  padding-right: 20%;
  width: 25%;
}
.my-name{
  font-size: 36px;
}

.about-left img{
  margin-top:50px;
  border-radius: 50%;  
  width:  300px;       
  height: 300px;     
}

.about-right{
  width:25%;
}

/* works */

#works{
  padding-top:200px;
}
#mainvisual {
  padding: 10px;
}
#thumbnail {
  display: flex;
}
#thumbnail li {
  width: 20%;
  padding: 10px;
}

#mainvisual img{
    width: 400px;
    height: 400px;
}

#thumbnail img{
  width: 100px;
    height: 100px;
}

/* contact */

#contact{
  padding-top:200px;
  padding-bottom:10%;
}

#contact dl {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
#contact dt {
  width: 15%;
}
#contact dd {
  width: 85%;
  margin-bottom: 10px;
}
#contact dd input,
#contact dd textarea {
  width: 100%;
  border: solid 1px #c8c8c8;
  padding: 10px;
}
#contact dd textarea {
  height: 10rem;
}
#contact .button {
  text-align: center;
}
#contact .button input {
  width: 200px;
  background-color: skyblue;
  color: #fff;
  padding: 15px 0;
  border: solid 1px skyblue;
}
#contact .button input:hover {
  background: #fff;
  color: #24292e;
}

/* footer */

footer {
  font-size: 1rem;
  padding: 10px 20px;
  text-align: center;
}

/* レスポンシブ */
@media screen and (max-width: 600px) {
  .about-left{
    padding-left:25%;
    padding-right: 5%;
    width: 25%;
  }
}
     